A
{
font-size: 18pt;
text-decoration: none;
}
A:link
{
color: blue;
}
A:visited
{
color: green;
}
.div1
{
color: red;
text-decoration: underline;
}

<!--text-decoration: none nie zmienia nic w tekscie -->
<!--text-decoration: underline podkresla tekst -->
<!--Daria Mlodzieniak -->
